# Helm dependencies
charts/
Chart.lock

# Local development
*.swp
*.swo
.DS_Store

# Certificates and keys
#config/ssl/**/*.jks
#config/ssl/**/*.p12
#config/ssl/**/*.pem
#config/ssl/**/*.cer
#config/ssl/**/*.key
#config/ssl/**/*.storepasswd
#config/ssl/**/*.keypasswd

# Port forwarding logs
#port-forward.log
#nohup.out

# IDE
.idea/
.vscode/
*.iml